<div class="frontpage">
    <h1>
        Samlede høringssvar til<br/>
        <a href="https://deltag.aarhus.dk">{{ hearing._metadata.hearing_name }} ({{ hearing.Name }})</a>
    </h1>

    <h2>{{ hearing._metadata.department_title }}</h2>

    <p>
        Antal høringssvar: {{ responses|length }}
    </p>
</div>
